
*.jou
*.log
vivado*.str

tmp/

synReport*
prj/**/.gen/
prj/**/.Xil/
prj/**/.srcs/
prj/**/sdk/
prj/**/out/
prj/**/clockInfo.txt
prj/**/tight_setup*
prj/**/project/

xsim.dir/**
*.pb
*.wdb

sim/obj_dir/
*.csv
**/sim_build/
**/cocotb/*.npz
**/cocotb/*.vcd
**/cocotb/results.xml

*.png

# SD card image build
out/
.cache/